      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(135deg, #E8F5E8 0%, #F1F8E9 50%, #E0F2F1 100%);
        overflow-x: hidden;
        /* impede barra lateral horizontal */
        overflow-y: auto;
        /* permite s칩 rolar pra baixo*/
      }

      main {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 20vh;
        margin: 10px auto;
      }

      .faixa {
        background: linear-gradient(90deg,
            #32a560 0%,
            #0ebd62 50%,
            #4ec27c 100%);
        padding: 10px;
      }

      .titulos-barra h1 {
        color: white;
        margin-left: 15px;
        font-size: 1.4rem;
        font-weight: bold;
      }

      .titulos-barra h2 {
        color: #f1f1f1;
        margin-left: 15px;
        font-size: 1.2rem;
        font-weight: normal;
      }

      .content hr {
        background: linear-gradient(to right,
            #289b42 0%,
            #26923f 20%,
            #87ba2d 40%,
            #87ba2d 70%,
            #f6db25 100%);
        border: none;
        outline: none;
        height: 8px;
        width: 100%;
      }

      ul hr {
        width: 100%;
        height: 5px;
        margin-top: 30px;
        background-color: white;
        border: none;
        outline: none;
      }

      nav .barraDados {
        display: flex;
        align-items: center;
        margin: 5px;
      }

      .container .info .icon-logo {
        width: 50px;
        height: 50px;
      }

      .info h1 {
        font-weight: 900;
        color: #343a40;
        padding-left: 7px;
      }


      .botao-adicionar button {
        outline: none;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        width: 205px;
        min-width: 250px;
        margin: 10px auto;
        box-shadow: rgba(0, 0, 0, 0.142) 0px 5px 15px;
        border: none;
        color: #343a40;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transform: scale(1.1);
      }

      .tela-agendamento main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
      }

      .tela-agendamento .container {
        position: relative;
        background-color: white;
        border-radius: 10px;
        padding: 20px 20px 20px 28px;
        /* espa칞o extra  esquerda para a "borda" */
        width: 395px;
        max-width: 350px;
        min-width: 30px;
        box-shadow: rgba(0, 0, 0, 0.142) 0px 5px 15px;
        overflow: hidden;
      }

      .tela-agendamento h1 {
        font-size: 25px;
        text-transform: uppercase;
      }



      /* Borda esquerda com gradiente usando pseudo-elemento */
      .tela-agendamento .container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(to bottom,
            #32a560 0%,
            #0ebd62 50%,
            #4ec27c 100%);
      }

      /* Informa칞칫es do container */
      .tela-agendamento .container .info {
        display: flex;
        align-items: center;
        font-size: 20px;
      }

      .tela-agendamento .container .text {
        padding: 10px;
        color: rgb(40, 37, 37);
      }

      .cards-section {
        display: grid;
        justify-content: center;
        /* centraliza o grid horizontalmente */
        grid-template-columns: repeat(3, 1fr);
        /* m치ximo de 3 cards por linha */
        gap: 20px;
        padding: 20px;
        max-width: 1100px;
        /* opcional: para centralizar melhor em telas grandes */
        margin: 0 auto;
        /* centraliza a se칞칚o na p치gina */
      }

      .card {
        height: 85px;
        /* altura fixa */
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
        padding: 15px 20px;
        transition: transform 0.2s;
      }

      .card:hover {
        transform: translateY(-3px);
      }

      .card-icon {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }

      a {
        text-decoration: none;
      }

      .card-text h3 {
        margin: 0;
        font-size: 1.2rem;
        color: #343a40;
      }

      .card-text p {
        margin: 3px 0 0;
        font-size: 0.95rem;
        color: #666;
      }

      /* Overlay (fundo preto transparente) */
      #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* preto transparente */
        backdrop-filter: blur(2px);
        /* aplica desfoque */
        -webkit-backdrop-filter: blur(2px);
        /* suporte Safari */
        /* preto transparente */
        display: none;
        /* escondido por padr칚o */
        z-index: 900;
      }

      #overlay.active {
        display: block;
      }

      @media (max-width: 1024px) {
        .cards-section {
          grid-template-columns: repeat(2, 1fr);
          /* 2 cards por linha */
        }
      }

      @media (max-width: 600px) {
        .cards-section {
          grid-template-columns: 1fr;
          /* 1 card por linha */
        }
      }

      /* Sidebar (menu lateral) */
      .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        /* escondida inicialmente */
        width: 250px;
        height: 100%;
        background: linear-gradient(180deg, #32a560, #0ebd62, #4ec27c);
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);

        transition: left 0.3s ease;
        z-index: 1000;
        color: white;
      }

      ul div {
        padding: 1px 15px 1px 15px;
      }

      .sidebar.active {
        left: 0;
        /* aparece */
      }

      .sidebar-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sidebar-header h2 {
        margin: 0;
        font-size: 1.3rem;
      }

      #close-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
      }

      .sidebar ul {
        list-style: none;
        padding: 20px 0 0;
      }

      .sidebar ul li {
        margin: 15px 0;
      }

      .sidebar ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: block;
        padding: 8px;
        border-radius: 8px;
        transition: background 0.3s;
      }

      .sidebar .aba:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      .sidebar .aba {
        display: flex;
        align-items: center;
      }

      .icone-aba {
        width: 40px;
        height: 40px;
      }

      /* conte칰do principal */
      .content {
        transition: transform 0.3s ease;
        position: relative;
        z-index: 500;
        /* fica acima do fundo */
      }

      /* quando o sidebar est치 ativo, empurra o conte칰do */
      .sidebar.active~.content {
        transform: translateX(250px);
        /* mesmo valor da largura do menu */
      }

      .sidebar.active~.conteudo-main {
        transform: translateX(120px);
        /* mesmo valor da largura do menu */
      }

      /* Tela de adicionar Profissional */
      .modal {
        position: fixed;
        z-index: 3000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);

        /* Flexbox para centralizar o modal-content */
        display: none;
        /* escondido por padr칚o */
        justify-content: center;
        align-items: center;
      }

      /* Modal em si */
      .modal-content {
        background-color: white;
        border-radius: 10px;
        width: 600px;
        height: 485px;
        max-width: 90%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
      }

      .header-popup {
        border-bottom: 3px solid #00000045;
        padding: 15px;
        display: flex;
        align-items: center;
        font-size: 18px;
        border-radius: 8px 8px 0 0;
        position: sticky;
        top: 0;
        z-index: 10;
      }

      .header-popup h2 {
        font-size: 28px;
      }


      .modal-body {
        flex: 1;
        overflow-y: auto;
        /* 游댳 rolagem s칩 aqui */
        padding: 10px;
      }

      /* Largura da barra de rolagem */
      .modal-body::-webkit-scrollbar {
        width: 13px;
        /* aumenta a espessura */
      }

      /* Fundo da barra de rolagem */
      .modal-body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
      }

      /* Cor da parte que se move */
      .modal-body::-webkit-scrollbar-thumb {
        background-color: #0ebd62;
        border-radius: 6px;
        border: 3px solid #f1f1f1;
        /* espa칞amento */
      }

      .modal-info .coluna {
        width: 100%;
        background: #f8f9fa;
        border-radius: 10px;
      }

      .labelCadastro {
        font-size: 18px;
        margin-left: 17px;
        margin-top: 10px;
      }

      .inputCadastro {
        border: 1px solid #ccc;
        font-size: 18px;
        padding: 7px;
        border-radius: 8px;
        outline: none;
        width: 95%;
        height: 40px;
      }

      .file-upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
      }

      .file-upload input[type="file"] {
        display: none;
        /* escondemos o input real */
      }

      .file-label {
        background: linear-gradient(90deg, #32a560 0%, #0ebd62 50%, #4ec27c 100%);
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        transition: 0.3s;
        text-align: center;
      }

      .file-label:hover {
        background: linear-gradient(90deg, #32a560 0%, #0ebd62 50%, #4ec27c 100%);
      }

      .file-name {
        margin-top: 5px;
        font-size: 13px;
        color: #555;
        font-style: italic;
      }

      #preview {
        margin-top: 10px;
        width: 175px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        border: 2px solid #32a560;
      }

      .botao-agendamento {
        margin: 10px;
        display: flex;
        align-items: center;
        border: none;
        padding: 10px;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: white;
        background: linear-gradient(90deg,
            #32a560 0%,
            #0ebd62 50%,
            #4ec27c 100%);
        cursor: pointer;
      }

      .botao-agendamento:hover {
        background: linear-gradient(90deg,
            #459766 0%,
            #459766 50%,
            #459766 100%);
      }

      .conjunto-info {
        width: 95%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
      }

      .conjunto-info input {
        align-items: center;
        display: flex;
        margin: auto;
      }

      .modal-actions {
        position: sticky;
        bottom: 0;
        background: white;
        padding: 10px;
        border-top: 3px solid #00000045;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        z-index: 15;
        border-radius: 0 0 8px 8px;
      }

      .modal-actions button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
      }

      .mensagem {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 15px 25px;
        border-radius: 10px;
        font-family: Arial, sans-serif;
        color: #fff;
        font-weight: bold;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        display: none;

        z-index: 9999;
        animation: fadeInOut 4s ease-in-out forwards;
      }

      .mensagem.sucesso {
        background-color: #4CAF50;
        /* verde */
      }

      .mensagem.erro {
        background-color: #f44336;
        /* vermelho */
      }
